<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Up Your Account</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>Please click the link below to set up your account:</p>
    <a href="{{frontendUrl}}/set-password?token={{token}}">Set Up Password</a>
</body>
</html>
